@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


body {
background-color: rgb(23, 6, 63);
color: rgb(110, 221, 248);
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

.titlepage{
font-family: Georgia; }



p :hover, a :hover{
  background-color: yellow;
color: green
}



h1{
  font-weight: 100;
  color: rgb(238, 165, 29);
  font-size: 2.5em;
  padding-top: 0.5em


}
h2{
  font-weight: 400;
  color: white;
  font-size: 2.5em;
  padding-top: 1.2em;
  }

h3{
  font-weight: 400;
  color: white;
  font-size: 2.5em;
}
h4{
  font-weight: 200;
  color: white;
  font-size: 1.5em;
}

hr.new1 {
  border-top: 1px dotted red;
}

hr.new2 {
  border-top: 1px dotted red;
}